*.log
*.crt
*.key
summary.txt
/.idea/*
/project/*
/docker/.env
/docker/docker-compose.yml
/docker/data/*
/docker/config/ssl/*
/docker/config/vhost/*
!/project/.gitkeep
!/docker/data/.gitkeep
!/docker/config/ssl/.gitkeep
!/docker/config/vhost/.gitkeep
docker/db.yml
docker/nginx.ssl.yml
docker/nginx.yml
docker/webserver.yml
